
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

footer a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
footer a:hover {
    text-decoration: underline 2px black;
}

.media-icons {
    display: flex;
    gap: 40px;
}

.cookies-list {
    display: flex;
    gap: 20px;
}

.cookies-list a, .copyright-text, .footer-content h6{
    color: gray;
    
}

.cookies-list a 
{
 font-size: 14px;
}

.footer-content {
    display: flex;
    gap: 60px;
    
}

.help-links, .contact-links, .app-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyright-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.media-icons, .list, .copyright-text 
{

}

