:root{
    --primary: lightgrey;
}


body {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body{
    
}
nav{
    background-color: var(--primary);
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin:0;
    padding: 0;
    gap: 1rem;
}
.link-home{
    margin-right: auto;

}
.link-login{
    margin-left: auto;
}
.link-login a{
    font-weight: normal;

}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer-content {
    display: flex;
    gap: 60px;
    
}

.help-links, .contact-links, .app-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyright-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.media-icons, .list, .copyright-text 

