.content-container
{
  display:flex ;
  flex-direction: row;
}
footer, h1, h2, p{
    text-align: center;

}
p {
    padding: 30px;
    padding-top: 0;
}
ul {
    list-style-type:none;
}
li
{
    padding-top: 10px;
}