form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    gap:0.3rem;
}
button {
    margin: 1rem;
}
.paymentWrapper {
    display: none;
    flex-direction: column;
}
.header {
    width: min-content;
    animation: spinny 5s ease-in-out infinite;
}

@keyframes spinny {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(900deg);
    }

    
}