@import url(main.css);
@import url(header.css);
@import url(card.css);

:root{
    --tablet: 770px;
    --desktop: 1230px;
    --primary: rgb(74, 21, 75);
    --primary-light: rgb(236, 222, 236);
    --primary-dark: rgb(46, 12, 47);
    --secondary: #36c5f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", system-ui;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--primary);
}