body {
  background-color: burlywood;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  background-color: white;
  border-radius: 1rem;
  border: 0.4rem solid rgba(0, 0, 0, 0.3);
}
.card__header {
  background-color: var(--primary-light);
  padding: 2rem;
  font-size: 1.125em;
  border-radius: 0.5rem 0.5rem 0 0;
}
.card__content {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas: "logo details" "button button";
}
.card__icon {
  grid-area: logo;
  padding: 1.5rem;
}
.card-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}
.card-info__title {
  font-size: 1.125em;
  font-weight: 550;
}

.card-info__members {
  display: flex;
  color: gray;
}

.btn {
  text-align: center;
  grid-area: button;
  margin: 1.5rem auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  width: 90%;
  transition: all .4s ease;
}
.btn:hover {
  background-color: var(--primary-dark);
}
.btn--light {
  background-color: white;
  box-shadow: inset 0px 0px 0px 1px var(--primary);
}
.btn--light:hover {
  background-color: white;
  box-shadow: inset 0px 0px 0px 2px var(--primary);
}
.btn a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.75rem;
}
.btn a:hover {
  text-decoration: none;
}
.btn--light a {
  color: var(--primary);
}
.card-info__text {
  padding: 1rem;
  font-weight: 600;
}
.card--lady .card__content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.card__lady img {
margin-bottom: -3.5rem;}

@media (min-width: 770px) {
  .card__content {
    display: flex;
    align-items: center;
  }
  .btn {
    margin: 1rem;
    margin-left: auto;
    height: 50%;
    width: 25rem;
  }
  .card--lady .btn {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1230px) {
  .btn {
    margin-left: auto;
    margin-right: 2rem;
    height: 50%;
  }

  .card--lady .card__content {
    display: flex;
    flex-direction: row;
    align-items: end;
  }
  .card--lady .btn {
    width: 25rem;
    margin-right: 2rem;
    margin-left: auto;
    order: 3;
    justify-content: center;
    align-self: center;
  }
  .card-info__text {
    order: 2;
    align-self: center;
  }
}
