.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 4rem;
}

.main {
  margin: 2rem auto;
  max-width: 900px;
}

.main__h1 {
  color: white;
  padding: 3rem 0;
  font-size: 6rem;
}

.main__text {
  color: white;
  text-align: center;
  font-size: 2.2rem;
}

.main a {
  color: var(--secondary);
  text-decoration: none;
}

.main a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}