/* Select: cars */

:root {
  --purple-dark: #814379;
}

body {
  padding: 3rem;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
  background: linear-gradient(#feffba, hsl(41, 100%, 57%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 0px black)
          drop-shadow(0 0 1px black)
          drop-shadow(0 0 10px rgb(74, 45, 66))
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.fieldset-container {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 2px solid var(--purple-dark);
  outline: 2px solid white;
  box-shadow: 0, 0, 10px var(--purple-dark);
  background: #fff9e3;
}

.cars {
  padding: 1rem 0;
}

.cars label {
  font-weight: bold;
}

#cars {
  padding: .5rem;
  font-family: inherit;
  margin-left: 1rem;
  font-weight: 600;
  border: 2px solid var(--purple-dark);
  border-radius: 100px;
  transition: all .4s;
}

#cars:hover {
  content: "hello";
}

#cars:hover {
  transform: skew(40deg);
  box-shadow: 0 0 4px white;
}

#cars:focus {
  background: linear-gradient(#ffffa8, #ffbbbb);
  outline: 2px solid var(--purple-dark);
}

#cars:active {
  outline: 2px solid white;
  background: #ffffff;
  transform: translateX(20px) rotate(2deg);
}

.submit input[type="submit"] {
  margin: 2rem 0;
  background: rgb(255, 235, 121);
  font-family: var(--accent-font);
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px 0;
  border: 2px solid black;
  cursor: pointer;
}

.submit input[type="submit"]:hover {
  animation: spin linear 1s infinite;
}

@keyframes spin {
  50% {
    scale: 1.5;
  }
  100% {
    transform: rotate(360deg);
    /* scale: 1.5; */
   }
}